* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: 110px 1fr 100px;
}

/*Cabeçalho da página*/

header {
    height: 110px;
    width: 100%;
    background-color:#040d1c;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    grid-row: 1 / 2;
}

#logo {
    height: 70%;
    position: absolute;
    left: 15%;
}

nav {
    height: 50px;
    width: 940px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 15px;
    transition: border-bottom 250ms ease;
}

nav ul li a {
    color:white;
    text-decoration: none;
}

nav ul li:hover {
    border-bottom: 2px solid #eb922e;
}

/*Conteúdo principal*/

main {
    grid-row: 2 / 3;
    display: grid;
}

/*Intro da página*/

#intro {
    height: 400px;
    width: 100%;
    background-color: #258a9a;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-img {
    height: 300px;
    position: absolute;
    right: 0px;
}

#intro p {
    display: inline;
    padding: 20px;
    background-color: #eb922e;
    color: white;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    z-index: 1;
}

/*Blog*/

#blog {
    height: 600px;
    width: 100%;
    background-color: #ffffff;
}

.title {
    height: 50px;
    width: 25%;
    margin: 20px auto 0px auto;
    padding: 5px;
    background-color: #EB922E;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.content {
    height: 500px;
    width: 940px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    height: 360px;
    width: 240px;
    margin: 20px;
    background-color: #387a9d;
    position: relative;
}

.content-img {
    height: 160px;
    width: 220px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.text-box h3 {
    padding-bottom: 5px;
    transition: padding-left 500ms ease;

}

.text-box {
    height: 50%;
    width: 100%;
    padding: 20px;
    background-color: #dd974b;
    color: #ffffff;
    position: absolute;
    bottom: 0;
}

.text-box h3:hover {
    padding-left: 5px;
}

/*Quem somos nós*/

#header_info {
    color:#EB922E;
    background-color: #ffffff;
    padding: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 50px;
    margin: 30px 0px 30px 0px;
    align-items: center;   
}

#text_info{
    margin-top: 50px;
    font-weight: 500;
    text-align: justify;
}

#window_info{
    display:grid;
    grid-template-rows: 50% 50% ;
    align-items: center;
    justify-content: center;
    margin-top:140px;
}

#window_info img{
    border-radius: 50%;
    width: 300px;
    height:300px;
}

.bold_text{
    font-weight: 700px;
}

#info{
    background-color: #EB922E;
    display:grid;
    grid-template-columns: 60% 1fr;
    height:600px;
    padding:100px;
    color:#ffffff;
    column-gap:60px;
}

#info_left{
    display:grid;
    align-items: flex-start;
    grid-template-rows: 30% 50%;
    row-gap:0px;
}

/*Galeria*/

#galeria {
    height: 700px;
    width: 100%;
    background-color: #258a9a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1 {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
   
}

.container1_title{
    width: 200px;
    background-color: #EB922E;
    color: #ffffff;
    margin-bottom: 15px;
    text-align: center;
}

.container1_content{
    width: 750px;
    height: 200px;
    background-color: #dd974b;
    color: #ffffff;
    display: flex;
    
}

.container2 {
    display: flex;
    flex-direction: column;
}

.container2_title{
    margin-left:500px;
     width: 200px;
     background-color: #EB922E;
     color: #ffffff;
     margin-bottom: 15px;
     text-align: center;
}

.container2_content{
    width: 700px;
    height: 200px;
    background-color: #dd974b;
    display:flex;
}

.container2_content p{
    text-align: center;
}

.content_gal-img{
    height: 200px;
    width: 350px;
}

 /*Contatos*/
  
.content2 {
    height: 500px;
    width: 940px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.content-box2 {
    height:  50px;
    width: 800px;
    margin: 10px;
    background-color: #040D1C;
    position: relative;
    align-items: center;
    display: flex;
}

.content-box3 {
    height:  60px;
    width: 60px;
    border-radius: 50%;
    background-color:  #eb922e;
    position: relative;
    transform: translate(-50%, 0);
}

.text-box2 {
    height: 70%;
    width: 100%;
    padding: 10px;
    background-color: #040D1C;
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.content-img2 {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
}

/*Rodapé da página*/

footer {
    height: 100px;
    width: 100%;
    margin-top: auto;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3 / 4;
}

#logo2 {
    height: 70%;
}
